.seleccion {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  overflow: hidden;

  color: var(--negroTinta);
  margin-bottom: 0.7em;

  &::after {
    content: '\25BC';
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 1.3em;
    padding-right: 0.5em;
    color: var(--rojoMistico);
    transition: 0.25s all ease;
    pointer-events: none;
  }
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  background-image: none;
  flex: 1;
  background-color: white;
  cursor: pointer;
  font-family: $fuenteTexto;
  padding: 0.5em;
  border: 3px solid var(--rojoMistico);
  transition: all 0.25s ease-in-out;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

#filtros {
  background-color: var(--rosaHermanosGrimm);

  h4 {
    margin: 0 0 0.5em 0;
  }

  .infoSeccion {
    border-bottom: 2px solid var(--negroTinta);
    padding-bottom: 1em;
  }

  .subSeccion {
    border-bottom: none;
    padding-bottom: 0;

    .tituloColapsable {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.cerrado {
      .tituloColapsable {
        background-color: transparent;
      }

      &:hover {
        .tituloColapsable {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    &::before {
      content: '';
      width: 11px;
      height: 11px;
      background-color: var(--rojoCorazon);
      border-radius: 50%;
      float: left;
      margin: 6px 0.5em 0 0;
    }

    &.grado1 {
      &::before {
        background-color: var(--naranjaMisionero);
      }
    }

    &.grado2 {
      &::before {
        background-color: var(--naranjaMascara);
      }
    }

    &.grado3 {
      &::before {
        background-color: var(--amarilloAliado);
      }
    }

    &.grado4 {
      &::before {
        border-radius: 0;
        background-color: var(--negroTinta);
      }
    }

    .colapsable {
      padding-left: 1.2em;

      p {
        margin-top: 0;
      }
    }
  }
}

#tiposRelaciones {
  text {
    fill: var(--negroTinta);
    font: $fuenteTexto;
  }

  line {
    stroke: var(--negroTinta);
    stroke-width: 2px;
  }
}

.poder {
  display: flex;
  cursor: pointer;
  position: relative;
  margin-bottom: 3px;

  &::before {
    content: '';
    width: 10px;
    height: 1.5em;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .iconoPoder {
    height: 30px;
    width: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.lam {
    &::before {
      background-color: var(--colorLAM);
    }

    .iconoPoder {
      background-image: url(/imgs/corazon-3.webp);
      background-position-x: -52px;
      height: 25px;
      margin-top: 0px;
      margin-left: 7px;
      margin-right: 3px;
      width: 22px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -27px;
        margin-left: 7px;
        margin-right: 3px;
      }
    }
  }

  &.politica {
    &::before {
      background-color: var(--colorPolitica);
    }

    .iconoPoder {
      background-image: url(/imgs/politica.webp);
      background-position-x: -60px;
      margin-top: -6px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -30px;
      }
    }
  }

  &.educacion {
    &::before {
      background-color: var(--colorEducacion);
    }

    .iconoPoder {
      background-image: url(/imgs/educacion.webp);
      background-position-x: -59px;
      margin-top: -3px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -29px;
      }
    }
  }

  &.medios {
    &::before {
      background-color: var(--colorMedios);
    }

    .iconoPoder {
      background-image: url(/imgs/medios.webp);
      background-position-x: -50px;
      height: 25px;
      margin-top: 0;
      width: 23px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -25px;
      }
    }
  }

  &.comercio {
    &::before {
      background-color: var(--colorComercio);
    }

    .iconoPoder {
      background-image: url(/imgs/comercio.webp);
      background-position-x: -48px;
      width: 26px;
      height: 24px;
      margin-left: 4px;
      margin-right: 3px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -24px;
      }
    }
  }

  &.iglesia-catolica {
    &::before {
      background-color: var(--colorReligion);
    }

    .iconoPoder {
      background-image: url(/imgs/iglesia-catolica.webp);
      background-position-x: -43px;
      width: 26px;
      height: 24px;
      margin-top: 1px;
      margin-right: 6px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -19px;
      }
    }
  }

  &.activo {
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.7);

    &.lam {
      .iconoPoder {
        background-position-x: -2px;
        height: 25px;
        margin-top: 0px;
        margin-left: 7px;
        margin-right: 3px;
        width: 22px;
      }
    }

    &.politica {
      .iconoPoder {
        background-position-x: 0px;
      }
    }

    &.educacion {
      .iconoPoder {
        background-position-x: 1px;
      }
    }

    &.medios {
      .iconoPoder {
        background-position-x: 0px;
        height: 25px;
        margin-top: 0;
        width: 23px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &.comercio {
      .iconoPoder {
        background-position-x: 0px;
        width: 26px;
        height: 24px;
        margin-left: 4px;
        margin-right: 3px;
      }
    }

    &.iglesia-catolica {
      .iconoPoder {
        background-position-x: 5px;
        width: 26px;
        height: 24px;
        margin-top: 1px;
        margin-right: 6px;
      }
    }
  }
}
