$fuenteTitulos: 'Grenze Gotisch', 'Brush Script MT', cursive;
$fuenteTexto: 'Roboto Mono', 'Courier New', Courier, monospace;

$inactivoPolitica: url("data:image/svg+xml,%3Csvg%20id%3D'stripes-svg'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'100%25'%20height%3D'100%25'%3E%3Cdefs%3E%3Cpattern%20id%3D'svg-stripes-pattern-16270'%20patternTransform%3D'rotate(137)'%20width%3D'100%25'%20height%3D'80'%20x%3D'0'%20y%3D'0'%20patternUnits%3D'userSpaceOnUse'%3E%3Cg%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'100%25'%20height%3D'28'%20fill%3D'rgba(228%2C%2033%2C%2033%2C%201)'%3E%3C%2Frect%3E%3Crect%20x%3D'0'%20y%3D'28'%20width%3D'100%25'%20height%3D'52'%20fill%3D'rgba(146%2C%20203%2C%20250%2C%201)'%3E%3C%2Frect%3E%3C%2Fg%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23svg-stripes-pattern-16270)'%3E%3C%2Frect%3E%3C%2Fsvg%3E");

:root {
  //paleta 1
  --azulOscuro: #323846;
  --blancoNube: #e0e1db;
  --rojoCorazon: #d53f26;
  --azulMedio: #393c5b;
  --cafeTunica: #ab6656;
  --doradoEspada: #c2a154;
  --sangreCristo: #b73944;
  --tinieblas: #0d030c;

  //paleta 2
  //fondos
  --amarilloEdadMedia: #fff8cc;
  --verdeJade: #ccffcc;
  --azulNube: #ccf7ff;
  --rosaHermanosGrimm: #fcc5dd;

  //convenciones
  --amarilloCuarzo: #ffe4c7;
  --rojoMistico: #ee5518;
  --azulJade: #0f6299;
  --verdeRealeza: #197934;
  --azulMillos: #3f97ef;
  --azulJoya: #74c1bd;
  --azulFiesta: #1be7ff;
  --azulFiesta2: #00b7cc;
  --verdeFiesta: #00ec56;
  --azulCeleste: #b1f8f2;
  --rosaJardin: #ef9396;
  --negroTinta: #3a2817;
  --blancoPecado: #fcf5f5;

  //filtro de cercanía
  --amarilloOro: #efd63f;
  --rojoSangre: #d4270c;
  --rojoSangre2: #bd0a0a;
  --naranjaMisionero: #ff6316;
  --naranjaMascara: #ff8b17;
  --amarilloAliado: #ffff4d;

  //descartados
  --violetaSacerdote: #6a306d;
  --violetaLavanda: #9ba2ff;

  //degradé color
  --rojoCalor: #ff24004d;
  --amarilloLuz: #ffff4c4d;

  //variables color
  --colorPolitica: var(--rojoMistico);
  --colorEducacion: var(--amarilloCuarzo);
  --colorComercio: var(--verdeRealeza);
  --colorMedios: var(--azulFiesta2);
  --colorReligion: var(--azulJade);
  --colorLAM: var(--rojoSangre2);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--rojoMistico);
  color: var(--blancoNube);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--amarilloEdadMedia);
  color: var(--negroTinta);
  font-family: $fuenteTexto;
  font-size: 1em;
}

main {
  height: 100vh;
  overflow: none;
}

h1,
h2,
h3 {
  font-family: $fuenteTitulos;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  border-bottom: 2px solid var(--negroTinta);
  padding-bottom: 0.5em;
  line-height: 1.1;
}

h3 {
  font-family: $fuenteTexto;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.colapsable {
  overflow: hidden;
}

.infoSeccion {
  display: none;

  &.sinTitulo {
    h3 {
      display: none;
    }
  }

  &.mostrar {
    display: block;
  }

  .colapsableBtn {
    padding-right: 0.3em;
    &::before {
      content: '';
      width: 15px;
      height: 3px;
      background-color: var(--negroTinta);
      display: block;
      margin-top: 3px;
      transition: all 0.25s ease-out;
    }

    &::after {
      content: '';
      width: 0;
      height: 3px;
      background-color: var(--negroTinta);
      display: block;
      transition: all 0.25s ease-out;
      opacity: 0;
    }
  }

  &.cerrado {
    .colapsable {
      max-height: 0;
    }

    .colapsableBtn {
      &::before {
        width: 10px;
        margin-top: -2px;
        transform: rotate(90deg);
      }

      &::after {
        width: 10px;
        margin-top: -3px;
        opacity: 1;
      }
    }
  }
}

#infoRelaciones {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.93em;

  .relacion {
    line-height: 1.4;
    .descriptor {
      display: block;

      &::after {
        content: ' - ';
        display: inline-block;
        margin: 0 0.3em;
      }
    }

    .relacionCon {
      text-transform: uppercase;
      padding: 0 0.1em;
      color: #fcf5f5;
    }

    &.lam {
      .relacionCon {
        background-color: var(--colorLAM);
      }
    }

    &.educacion {
      .relacionCon {
        background-color: var(--colorEducacion);
        color: var(--negroTinta);
      }
    }

    &.politica {
      .relacionCon {
        background-image: $inactivoPolitica;
        background-color: transparent;
      }
    }

    &.politica.activo {
      .relacionCon {
        background-color: var(--colorPolitica);
        background-image: none;
      }
    }

    &.comercio {
      .relacionCon {
        background-color: var(--colorComercio);
      }
    }

    &.medios {
      .relacionCon {
        background-color: var(--colorMedios);
        color: var(--negroTinta);
      }
    }

    &.iglesiacatolica {
      .relacionCon {
        background-color: var(--colorReligion);
        // color: var(--blancoPecado);
      }
    }
  }
}

#contenedor {
  display: flex;
}

.columnaLado {
  width: 20vw;
  min-height: 100vh;
  padding: 2em 3em 2em 3em;
  background-color: var(--rosaHermanosGrimm);
  overflow-y: auto;
}

#contenedorVis {
  background: radial-gradient(circle at center, #ff22009e 0, #ffff4c7d 70%, #ffff4c4d 100%);
  position: relative;
}

#vis {
  height: 100vh;
  width: 60vw;
  display: block;
}

#contenedorAgentes {
  position: absolute;
  top: 0;
  left: 0;
}

#filtros {
  background-color: var(--rosaHermanosGrimm);

  h4 {
    margin: 0 0 0.5em 0;
  }

  .infoSeccion {
    border-bottom: 2px solid var(--negroTinta);
    padding-bottom: 1em;
  }
}

#info {
  &.persona {
    background-color: var(--verdeJade);
  }

  &.org {
    background-color: var(--azulNube);
  }
}

.nombre {
  font-size: 0.8em;
  color: var(--negroTinta);
  width: 100px;
  display: block;
  transform: translate(-50%, -3px);
  text-align: center;
  line-height: 1;
}

#circulos {
  circle {
    fill: none;
    stroke-width: 0.5px;
    stroke: var(--negroTinta);
  }
}

.nodo {
  cursor: pointer;
  position: absolute;
  width: 0;

  &.ejePrincipal {
    .nombre {
      font-weight: 600;
      font-size: 0.95em;
    }
  }

  &.activo {
    opacity: 1;
  }

  &.apagado {
    opacity: 0.3;
  }

  &.invisible {
    display: none;
  }
}

.icono {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: var(--rojoCorazon);
  transform: translate(-50%, -50%);
}

#corazon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  z-index: 8;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }

  animation: palpito 0.9s infinite ease-in-out;
}

#infoImg {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

@keyframes palpito {
  0% {
    opacity: 0.5;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0.7;
  }

  60% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.9;
  }
}

.conexion {
  stroke-width: 2;
  stroke: var(--negroTinta);
  opacity: 0.7;

  &.lam {
    stroke: var(--colorLAM);
  }

  &.medios {
    stroke: var(--colorMedios);
  }

  &.politica {
    stroke: var(--colorPolitica);
  }

  &.educacion {
    stroke: var(--colorEducacion);
  }

  &.comercio {
    stroke: var(--colorComercio);
  }

  &.iglesiacatolica {
    stroke: var(--colorReligion);
  }
}

#tiposRelaciones {
  text {
    fill: var(--negroTinta);
    font: $fuenteTexto;
  }

  line {
    stroke: var(--negroTinta);
    stroke-width: 2px;
  }
}

.seleccion {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  overflow: hidden;

  color: var(--negroTinta);
  margin-bottom: 0.7em;

  &::after {
    content: '\25BC';
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 1.3em;
    padding-right: 0.5em;
    color: var(--rojoMistico);
    transition: 0.25s all ease;
    pointer-events: none;
  }
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  background-image: none;
  flex: 1;
  background-color: white;
  cursor: pointer;
  font-family: $fuenteTexto;
  padding: 0.5em;
  border: 3px solid var(--rojoMistico);
  transition: all 0.25s ease-in-out;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
