$fuenteTitulos: 'Grenze Gotisch', 'Brush Script MT', cursive;
$fuenteTexto: 'Roboto Mono', 'Courier New', Courier, monospace;

:root {
  --azulOscuro: #323846;
  --blancoNube: #e0e1db;
  --rojoCorazon: #d53f26;
  --azulMedio: #393c5b;
  --cafeTunica: #ab6656;
  --doradoEspada: #c2a154;
  --sangreCristo: #b73944;
  --tinieblas: #0d030c;
  --amarilloEdadMedia: #fff8cc;
  --verdeJade: #ccffcc;
  --azulNube: #ccf7ff;
  --rosaHermanosGrimm: #fcc5dd;
  --amarilloOro: #3f97ef;
  --rojoMistico: #f24125;
  --rosaJardin: #ef9396;
  --verdeRealeza: #197934;
  --negroTinta: #3a2817;
  --rojoCalor: #ff24004d;
  --amarilloLuz: #ffff4c4d;
  --violetaLavanda: #8ac1fc;
  --rojoSangre: #d4270c;
  --naranjaMisionero: #ff6316;
  --naranjaMascara: #ff8b17;
  --amarilloAliado: #ffff4d;
  --violetaSacerdote: #6a306d;
  --colorPolitica: var(--rojoMistico);
  --colorEducacion: var(--violetaLavanda);
  --colorComercio: var(--verdeRealeza);
  --colorMedios: var(--amarilloOro);
  --colorReligion: var(--violetaSacerdote);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--rojoMistico);
  color: var(--blancoNube);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--amarilloEdadMedia);
  color: var(--negroTinta);
  font-family: $fuenteTexto;
  font-size: 0.8em;
}

main {
  height: 100vh;
  overflow: none;
}

h1,
h2,
h3 {
  font-family: $fuenteTitulos;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  border-bottom: 2px solid var(--negroTinta);
  padding-bottom: 0.5em;
  line-height: 1.1;
}

h3 {
  font-family: $fuenteTexto;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.colapsable {
  overflow: hidden;
}

.infoSeccion {
  display: none;

  &.sinTitulo {
    h3 {
      display: none;
    }
  }

  &.mostrar {
    display: block;
  }

  .colapsableBtn {
    padding-right: 0.3em;
    &::before {
      content: '';
      width: 15px;
      height: 3px;
      background-color: var(--negroTinta);
      display: block;
      margin-top: 3px;
      transition: all 0.25s ease-out;
    }

    &::after {
      content: '';
      width: 0;
      height: 3px;
      background-color: var(--negroTinta);
      display: block;
      transition: all 0.25s ease-out;
      opacity: 0;
    }
  }

  &.cerrado {
    .colapsable {
      max-height: 0;
    }

    .colapsableBtn {
      &::before {
        width: 10px;
        margin-top: -2px;
        transform: rotate(90deg);
      }

      &::after {
        width: 10px;
        margin-top: -3px;
        opacity: 1;
      }
    }
  }
}

#infoRelaciones {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.8em;

  .relacion {
    line-height: 1.4;
    .descriptor {
      display: block;

      &::after {
        content: ' - ';
        display: inline-block;
        margin: 0 0.3em;
      }
    }

    .relacionCon {
      text-transform: uppercase;
      padding: 0 0.1em;
      color: #fcf5f5;
    }

    &.lam {
      .relacionCon {
        background-color: var(--rojoMistico);
      }
    }

    &.educacion {
      .relacionCon {
        background-color: var(--colorEducacion);
        color: var(--negroTinta);
      }
    }

    &.politica {
      .relacionCon {
        background-color: var(--colorPolitica);
      }
    }

    &.comercio {
      .relacionCon {
        background-color: var(--colorComercio);
      }
    }

    &.medios {
      .relacionCon {
        background-color: var(--amarilloOro);
        color: var(--negroTinta);
      }
    }

    .iglesiacatolica {
      .relacionCon {
        background-color: var(--colorReligion);
      }
    }
  }
}

#contenedor {
  display: flex;
}

.columnaLado {
  width: 20vw;
  min-height: 100vh;
  padding: 2em 3em 2em 3em;
  background-color: var(--rosaHermanosGrimm);
  overflow-y: auto;
}

#contenedorVis {
  background: radial-gradient(circle at center, #ff22009e 0, #ffff4c7d 70%, #ffff4c4d 100%);
  position: relative;
}

#vis {
  height: 100vh;
  width: 60vw;
  display: block;
}

#contenedorAgentes {
  position: absolute;
  top: 0;
  left: 0;
}

#filtros {
  background-color: var(--rosaHermanosGrimm);
}

#info {
  &.persona {
    background-color: var(--verdeJade);
  }

  &.org {
    background-color: var(--azulNube);
  }
}

.nombre {
  font-size: 0.75em;
  color: var(--negroTinta);
  width: 100px;
  display: block;
  transform: translate(-50%, -3px);
  text-align: center;
  line-height: 1;
}

#circulos {
  circle {
    fill: none;
    stroke-width: 0.5px;
    stroke: var(--negroTinta);
  }
}

.nodo {
  cursor: pointer;
  position: absolute;
  width: 0;

  &.ejePrincipal {
    .nombre {
      font-weight: 600;
      font-size: 0.95em;
    }
  }

  &.activo {
    opacity: 1;
  }

  &.apagado {
    opacity: 0.3;
  }
}

.icono {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: var(--rojoCorazon);
  transform: translate(-50%, -50%);
}

#corazon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  z-index: 8;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }

  animation: palpito 0.9s infinite ease-in-out;
}

#infoImg {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

@keyframes palpito {
  0% {
    opacity: 0.5;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0.7;
  }

  60% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.9;
  }
}

.conexion {
  stroke-width: 1;
  stroke: var(--negroTinta);
  opacity: 0.7;

  &.medios {
    stroke: var(--colorMedios);
  }

  &.politica {
    stroke: var(--colorPolitica);
  }

  &.educacion {
    stroke: var(--colorEducacion);
  }

  &.comercio {
    stroke: var(--colorComercio);
  }

  &.iglesiacatolica {
    stroke: var(--colorReligion);
  }
}

#tiposRelaciones {
  text {
    fill: var(--negroTinta);
    font: $fuenteTexto;
  }

  line {
    stroke: var(--negroTinta);
    stroke-width: 2px;
  }
}
