@import './constantes';
@import './normalizar';
@import './ladoInfo';
@import './zonas';

#contenedor {
  display: flex;
}

.tituloPrincipal {
  color: var(--rojoSangre2);
  font-size: 3em;
  margin: 0.5em 0 0 0;
  line-height: 1.2;
}

.tachado {
  position: relative;
  margin-right: 0.3em;

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 3px solid var(--rojoSangre2);
    top: 0.85em;
  }
}

#reiniciar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--amarilloAliado);
  padding: 0.5em;
  cursor: pointer;

  &:hover {
    background-color: var(--amarilloAliado);
  }

  .icono {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.tituloColapsable {
  font-family: $fuenteTexto;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &.interTitulo {
    text-transform: none;
  }
}

.colapsable {
  overflow: hidden;
}

.infoSeccion {
  display: none;

  &.sinTitulo {
    h3 {
      display: none;
    }
  }

  &.mostrar {
    display: block;
  }

  .colapsableBtn {
    padding-right: 0.3em;
    &::before {
      content: '';
      width: 15px;
      height: 3px;
      background-color: var(--negroTinta);
      display: block;
      margin-top: 3px;
      transition: all 0.25s ease-out;
    }

    &::after {
      content: '';
      width: 0;
      height: 3px;
      background-color: var(--negroTinta);
      display: block;
      transition: all 0.25s ease-out;
      opacity: 0;
    }
  }

  &.cerrado {
    .colapsable {
      max-height: 0;
    }

    .colapsableBtn {
      &::before {
        width: 10px;
        margin-top: -2px;
        transform: rotate(90deg);
      }

      &::after {
        width: 10px;
        margin-top: -3px;
        opacity: 1;
      }
    }
  }
}

.columnaLado {
  width: 20vw;
  min-height: 100vh;
  padding: 2em 3em 2em 3em;
  background-color: var(--rosaHermanosGrimm);
  overflow-y: auto;
}

#contenedorVis {
  background: radial-gradient(circle at center, #ff22009e 0, #ffff4c7d 70%, #ffff4c4d 100%);
  position: relative;
}

#vis {
  height: 100vh;
  width: 60vw;
  display: block;
}

#contenedorAgentes {
  position: absolute;
  top: 0;
  left: 0;

  .nombre {
    font-size: 0.8em;
    color: var(--negroTinta);
    width: 100px;
    display: block;
    transform: translate(-50%, -3px);
    text-align: center;
    line-height: 1;
  }

  .icono {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background-color: var(--rojoCorazon);
    transform: translate(-50%, -50%);
  }
}

#filtros {
  background-color: var(--rosaHermanosGrimm);

  h4 {
    margin: 0 0 0.5em 0;
  }

  .infoSeccion {
    border-bottom: 2px solid var(--negroTinta);
    padding-bottom: 1em;
  }

  .subSeccion {
    border-bottom: none;
    padding-bottom: 0;

    .tituloColapsable {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.cerrado {
      .tituloColapsable {
        background-color: transparent;
      }

      &:hover {
        .tituloColapsable {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    &::before {
      content: '';
      width: 11px;
      height: 11px;
      background-color: var(--rojoCorazon);
      border-radius: 50%;
      float: left;
      margin: 6px 0.5em 0 0;
    }

    &.grado1 {
      &::before {
        background-color: var(--naranjaMisionero);
      }
    }

    &.grado2 {
      &::before {
        background-color: var(--naranjaMascara);
      }
    }

    &.grado3 {
      &::before {
        background-color: var(--amarilloAliado);
      }
    }

    &.grado4 {
      &::before {
        border-radius: 0;
        background-color: var(--negroTinta);
      }
    }

    .colapsable {
      padding-left: 1.2em;

      p {
        margin-top: 0;
      }
    }
  }
}

#circulos {
  circle {
    fill: none;
    stroke-width: 0.5px;
    stroke: var(--negroTinta);
  }
}

.nodo {
  cursor: pointer;
  position: absolute;
  width: 0;

  &.ejePrincipal {
    .nombre {
      font-weight: 600;
      font-size: 0.95em;
    }
  }

  &.activo {
    opacity: 1;
  }

  &.apagado {
    opacity: 0.3;
  }

  &.invisible {
    display: none;
  }
}

#infoImg {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.conexion {
  stroke-width: 2;
  stroke: var(--negroTinta);
  opacity: 0.7;

  &.lam {
    stroke: var(--colorLAM);
  }

  &.medios {
    stroke: var(--colorMedios);
  }

  &.politica {
    stroke: var(--colorPolitica);
  }

  &.educacion {
    stroke: var(--colorEducacion);
  }

  &.comercio {
    stroke: var(--colorComercio);
  }

  &.iglesia-catolica {
    stroke: var(--colorReligion);
  }
}

#tiposRelaciones {
  text {
    fill: var(--negroTinta);
    font: $fuenteTexto;
  }

  line {
    stroke: var(--negroTinta);
    stroke-width: 2px;
  }
}

.seleccion {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  overflow: hidden;

  color: var(--negroTinta);
  margin-bottom: 0.7em;

  &::after {
    content: '\25BC';
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 1.3em;
    padding-right: 0.5em;
    color: var(--rojoMistico);
    transition: 0.25s all ease;
    pointer-events: none;
  }
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  background-image: none;
  flex: 1;
  background-color: white;
  cursor: pointer;
  font-family: $fuenteTexto;
  padding: 0.5em;
  border: 3px solid var(--rojoMistico);
  transition: all 0.25s ease-in-out;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.poder {
  display: flex;
  cursor: pointer;
  position: relative;
  margin-bottom: 3px;

  &::before {
    content: '';
    width: 10px;
    height: 1.5em;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .iconoPoder {
    height: 30px;
    width: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.lam {
    &::before {
      background-color: var(--colorLAM);
    }

    .iconoPoder {
      background-image: url(/imgs/corazon-3.webp);
      background-position-x: -52px;
      height: 25px;
      margin-top: 0px;
      margin-left: 7px;
      margin-right: 3px;
      width: 22px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -27px;
        margin-left: 7px;
        margin-right: 3px;
      }
    }
  }

  &.politica {
    &::before {
      background-color: var(--colorPolitica);
    }

    .iconoPoder {
      background-image: url(/imgs/politica.webp);
      background-position-x: -60px;
      margin-top: -6px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -30px;
      }
    }
  }

  &.educacion {
    &::before {
      background-color: var(--colorEducacion);
    }

    .iconoPoder {
      background-image: url(/imgs/educacion.webp);
      background-position-x: -59px;
      margin-top: -3px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -29px;
      }
    }
  }

  &.medios {
    &::before {
      background-color: var(--colorMedios);
    }

    .iconoPoder {
      background-image: url(/imgs/medios.webp);
      background-position-x: -50px;
      height: 25px;
      margin-top: 0;
      width: 23px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -25px;
      }
    }
  }

  &.comercio {
    &::before {
      background-color: var(--colorComercio);
    }

    .iconoPoder {
      background-image: url(/imgs/comercio.webp);
      background-position-x: -48px;
      width: 26px;
      height: 24px;
      margin-left: 4px;
      margin-right: 3px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -24px;
      }
    }
  }

  &.iglesia-catolica {
    &::before {
      background-color: var(--colorReligion);
    }

    .iconoPoder {
      background-image: url(/imgs/iglesia-catolica.webp);
      background-position-x: -43px;
      width: 26px;
      height: 24px;
      margin-top: 1px;
      margin-right: 6px;
    }

    &:hover {
      .iconoPoder {
        background-position-x: -19px;
      }
    }
  }

  &.activo {
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.7);

    &.lam {
      .iconoPoder {
        background-position-x: -2px;
        height: 25px;
        margin-top: 0px;
        margin-left: 7px;
        margin-right: 3px;
        width: 22px;
      }
    }

    &.politica {
      .iconoPoder {
        background-position-x: 0px;
      }
    }

    &.educacion {
      .iconoPoder {
        background-position-x: 1px;
      }
    }

    &.medios {
      .iconoPoder {
        background-position-x: 0px;
        height: 25px;
        margin-top: 0;
        width: 23px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &.comercio {
      .iconoPoder {
        background-position-x: 0px;
        width: 26px;
        height: 24px;
        margin-left: 4px;
        margin-right: 3px;
      }
    }

    &.iglesia-catolica {
      .iconoPoder {
        background-position-x: 5px;
        width: 26px;
        height: 24px;
        margin-top: 1px;
        margin-right: 6px;
      }
    }
  }
}

#cargador {
  opacity: 0;
  position: fixed;
  z-index: 9;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;

  &.activo {
    opacity: 1;
  }

  .barra {
    display: block;
    height: 2px;
    width: 50vw;
    position: relative;
    background-color: var(--rojoCalor);
  }

  .proceso {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: var(--rojoSangre2);
    width: 0%;
  }
}

///// créditos

#acerca {
  color: var(--rojoSangre2);
  font-size: 1.7em;
  // position: fixed;
  cursor: pointer;
  right: 5%;
  top: 5%;
  z-index: 8;
  padding: 0.3em;
  transition: all 0.25s ease-in-out;
  background-color: transparent;
  border-radius: 6px;
  font-weight: 900;

  &:hover {
    background-color: var(--rosaHermanosGrimm);
    color: var(--negroTinta);
  }
}

#creditos {
  background-color: var(--rosaHermanosGrimm);
  color: var(--negroTinta);
  height: 100vh;
  width: 60vw;
  position: fixed;
  overflow: auto;
  z-index: 9;
  padding: 2em 7em 2em 5em;
  font-size: 1.2em;
  left: -100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.visible {
    left: 0;
    opacity: 1;
  }

  #cerrarCreditos {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.15s ease-out;
    text-align: right;
    margin-right: -1em;

    &:hover {
      opacity: 0.7;
    }
  }

  h1 {
    font-size: 2em;
    font-weight: normal;
    width: 100%;
    color: var(--rojoSangre2);
  }

  h3 {
    border-top: 1px dashed var(--rojoMistico);
    padding-top: 1.5em;
    margin: 1.5em 0em 1em 0;
  }

  .equipo {
    list-style: none;
    padding-left: 0;
  }

  .parche {
    .rol {
      font-weight: bold;
    }

    .nombre {
      letter-spacing: 1px;
      margin-bottom: 0.5em;
    }

    .logo {
      width: 60px;
      height: auto;
      margin-right: 4em;
      border-radius: 2px;
    }

    .logo-manifiesta {
      width: 60px;
      height: auto;
      // display: table-cell;
      height: 40px;
      vertical-align: -10%;
      margin-right: 4em;
      //padding-bottom: 0.1em;
      border-radius: 2px;
    }
  }
}
